body {
  margin: 0;
  padding: 0;
  font-family: 'Laton', sans-serif;
}

@font-face {
  font-family: myfont;
  src: url(mjay.ttf);
}

@font-face {
  font-family: sans-serif, mjaybold;
  src: url(mjayheavvy.ttf);
}

@font-face {
  font-family: mjayitalic;
  src: url(mjayitalic.ttf);
}

@font-face {
  font-family: sans-serif, mjaynormal;
  src: url(mjaynormal.ttf);
}

.desktopnav {
  display: none;
}

* ul {
  list-style-type: none;
}

/* front page */

.navbars {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 100000;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-image: url(./Images/pageimages/international.jpg);
  background-size: 80%;
  z-index: 100;
  width: 100vw;
}

a {
  color: #282b32;
}

.mobilemenu {
  background-color: rgb(25.1%, 25.1%, 25.1%, 90%);
  z-index: 250;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(3px);
  display: none;
}

.mobilemenu ul {
  padding-top: 10%;
  padding-left: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desktopnav,
li,
a {
  text-decoration: none;
  font-family: sans-serif, mjaynormal;
  font-size: 13px;
}

.mobilemenu a {
  color: #fff;
  margin-bottom: 20%;
  font-size: 15px;
}

nav {
  margin-left: 8%;
}

header img {
  width: 25%;
  margin-left: 30%;
}

.xbutton img {
  width: 4%;
  margin-left: 8%;
  margin-top: 5%;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #404040;
  z-index: 20000;
}

.main {
  background-image: url(./Images/pageimages/international.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 5%;
  margin: 0;
}

.main h1 {
  font-weight: 100;
  color: #ec5242;
  padding-top: 15%;
  margin-bottom: 0;
}

.seeschedule {
  display: none;
}

/* .main h2 {

} */

.clipthis {
  color: rgb(92.5%, 32.2%, 25.9%, 60%);
  text-align: left;
  background-image: url(./Images/pageimages/textbackground.jpg);
  background-size: cover;
  background-clip: inherit;
  -webkit-background-clip: text;
  width: 40%;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 0;
}

.description {
  color: rgb(25.1%, 25.1%, 25.1%, 60%);
  padding: 10% 0;
}

.date {
  font-weight: bold;
  color: rgb(25.1%, 25.1%, 25.1%, 80%);
}

.location {
  color: rgb(25.1%, 25.1%, 25.1%, 80%);
}

/* about section */

.program {
  padding: 10% 5% 10% 5%;
  background-color: #282b32;
  background-image: url(./Images/pageimages/smokey.jpg);
}

.programactivities img {
  margin: 0;
  object-fit: cover;
  width: 60%;
}

.program h2 {
  color: #fff;
  text-align: center;
  font-family: sans-serif, mjaybold;
  padding-bottom: 5%;
}

.imageicon {
  padding: 0;
  margin: 0;
  width: 80px;
}

.mainul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #3b3e45;
  margin-bottom: 1%;
  padding: 5%;
}

.activity {
  color: #ec5242;
}

.paragraph {
  font-size: 12px;
  color: #fff;
}

.hamburger {
  z-index: 1000;
}

.program button {
  text-align: center;
  padding: 8%;
  background-color: #ec5242;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: #fff;
  font-weight: 300;
  border: none;
}

/* dj content */

.featureddjs {
  padding: 10% 5% 5% 5%;
}

.featureddjs h2 {
  color: #282b32;
  margin: 10% auto;
  text-align: center;
  font-family: sans-serif, mjaybold;
}

.featureddjs ul {
  padding: 0;
}

.djcontent {
  display: flex;
}

.djimage {
  position: relative;
  padding-right: 15%;
}

.image1 {
  width: 40px;
  z-index: -10;
  top: -30px;
  left: -100px;
  height: 40px;
}

.image2 {
  position: absolute;
  width: 80px;
  z-index: 50;
  bottom: 61%;
  left: 10px;
}

.djname {
  color: #282b32;
  padding-bottom: 20%;
}

.featureddjs button {
  width: 100%;
  color: #3b3e45;
  border-radius: 10px;
  border: 1px solid rgb(25.1%, 25.1%, 25.1%, 20%);
  margin-bottom: 30%;
}

.buttonitems {
  display: flex;
  justify-content: center;
}

.djdescription1 {
  color: #ec5242;
  font-style: italic;
  padding-bottom: 20%;
}

.djdescrition2 {
  color: #3b3e45;
}

.djcontent,
.dja {
  margin-bottom: 20%;
}

.aboutpage {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.darkbackground h3 {
  color: rgb(92.5%, 32.2%, 25.9%);
}

.darkbackground h2 {
  font-weight: 100;
  color: #ec5242;
  padding-top: 10%;
  margin-bottom: 0;
}

.concludes {
  padding-bottom: 10%;
}

.logo2 img {
  width: 30%;
}

.festivalb {
  background-image: url(./Images/pageimages/2021.jpg);
  background-size: cover;
  padding: 30%;
  margin-top: 20%;
  position: relative;
  color: #fff;
}

.festivala {
  background-image: url(./Images/pageimages/2020.jpg);
  background-size: cover;
  padding: 30%;
  position: relative;
  color: #fff;
}

.festivalyear {
  padding-top: 10%;
  font-family: sans-serif, mjaybold;
  font-size: 20px;
}

.festivaloverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(25.1%, 25.1%, 25.1%, 90%);
}

.aboutpage ul {
  margin-left: 0;
  padding-left: 0;
}

.contactme {
  color: #3b3e45;
}

.footer {
  background-color: #282b32;
}

.desktopnav ul {
  display: flex;
  gap: 8%;
  justify-content: flex-start;
  margin-right: auto;
}

.desktopnav,
li,
a :hover {
  color: #ec5242;
}

.hompage {
  display: none;
}

.desktopnav ul :nth-child(6) {
  margin-right: 380px;
}

.brains {
  padding-top: 10%;
  color: #282b32;
}

.deskyimage {
  display: none;
}

.brainsdescription {
  color: #3b3e45;
}

.closing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.closing img {
  width: 10%;
  background-color: #fff;
  margin-right: auto;
}

.closing p {
  font-family: sans-serif, mjaybold;
  width: 80%;
}

.here {
  font-family: sans-serif, mjaymedium;
  color: #282b32;
  font-weight: 800;
  padding-top: 5%;
  border-top: 1px solid rgb(25.1%, 25.1%, 25.1%, 20%);
  margin-top: 5%;
}

.pabout {
  font-family: sans-serif, mjaynormal;
  padding-bottom: 5%;
}

.brands img {
  width: 100%;
  margin-top: 0;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .viewmoredjs {
    display: none;
  }

  header {
    justify-content: flex-end;
  }

  .logo {
    margin-right: auto;
    margin-left: 100px;
    width: 90%;
  }

  .description {
    width: 60%;
    font-family: sans-serif, mjaynormal;
    color: #3b3e45;
    font-size: 17px;
  }

  .logo img {
    width: 20%;
  }

  .date {
    font-family: sans-serif, mjaybold;
    font-size: 30px;
  }

  .deskyimage {
    display: block;
  }

  .location {
    font-size: 20px;
  }

  .navbars {
    display: none;
  }

  .main {
    padding: 0 15% 20% 15%;
  }

  .mainul {
    display: block;
    margin-right: 0;
    padding-right: 0;
    width: 93%;
    text-align: center;
  }

  .programactivities .main {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0;
    background: none;
    justify-content: flex-end;
  }

  .paragraph {
    width: 60%;
    text-align: center;
    margin-left: 20%;
  }

  .imageicon {
    margin: auto;
  }

  .main h2 {
    font-family: sans-serif, mjaybold;
    font-size: 70px;
  }

  .main h1 {
    font-family: sans-serif, mjaynormal;
    font-size: 30px;
    color: rgb(92.5%, 32.2%, 25.9%, 90%);
    padding-top: 30%;
  }

  .main li {
    margin-right: 0;
    padding-right: 0;
  }

  .desktopnav {
    display: block;
  }

  .program {
    padding: 5% 15%;
  }

  .program h2 {
    font-family: sans-serif, mjaynormal;
  }

  .program button {
    display: none;
  }

  .seeschedule {
    display: block;
    color: #fff;
    text-decoration: underline;
  }

  .correctingbutton {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    cursor: pointer;
    font-family: sans-serif, mjaynormal;
  }

  .djcontent {
    width: 50%;
  }

  .djdescription1 {
    padding-bottom: 5%;
    font-family: sans-serif, mjitalic;
    width: 95%;
  }

  .djdescrition2 {
    font-family: sans-serif, mjnormal;
    width: 95%;
  }

  .djname {
    padding-bottom: 5%;
    font-family: sans-serif, mjaybold;
  }

  .grids {
    display: flex;
    flex-wrap: wrap;
  }

  .featureddjs {
    padding: 0 15%;
  }

  .image2 {
    bottom: 33%;
  }

  .aboutpage h2 {
    font-family: sans-serif, mjaynormal;
  }

  .darkbackground .description {
    background-color: #fff;
    border: 1px solid rgb(25.1%, 25.1%, 25.1%, 10%);
    padding: 5%;
    margin: 10% auto;
    font-family: sans-serif, mjaynormal;
  }

  .darkbackground h3 {
    width: 45%;
    font-size: 40px;
    margin: auto;
    font-family: sans-serif, mjaybold;
  }

  .darkbackground .contactme {
    font-family: sans-serif, mjaynormal;
    border-top: 1px solid rgb(25.1%, 25.1%, 25.1%, 20%);
    margin-left: 0;
    margin-top: 30px;
    padding-top: 5%;
  }

  .email a {
    font-family: sans-serif, mjaybold;
    color: #404040;
  }

  .brains {
    font-family: sans-serif, mjaymedium;
    font-weight: 600;
  }

  .brainsdescription {
    font-family: sans-serif, mjaynormal;
  }

  .logo2 {
    width: 70%;
    margin: auto;
    border: 1px solid rgb(25.1%, 25.1%, 25.1%, 20%);
  }

  .festivaldescription {
    font-size: 15px;
    font-family: sans-serif, mjaynormal;
  }

  .festivals {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .festivals li {
    width: 50%;
  }

  .festivalb {
    margin-top: 0;
  }

  .mobilebrands {
    display: none;
  }

  .closingimage {
    margin-left: 2%;
  }
}

.darkbackground {
  background-color: rgb(25.1%, 25.1%, 25.1%, 20%);
  padding: 5% 0;
  text-align: center;
}

a:hover {
  color: #ec5242;
}

.lastitem {
  border: 4px solid #ec5242;
  padding: 12%;
}
