body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  margin: 0 0 0 0;
}

.frontpage {
  background-color: #fff;
  padding: 0 0 0 0;
  background-image: url(/images/header-shapes\ mobile.png);
  background-size: 100%;
  background-position: 60% top;
  border-bottom-left-radius: 60px;
  margin: 0 0 0 0;
}

.maincontents {
  margin: 0 6% 0 6%;
}

a {
  text-decoration: none;
}

.navbar a {
  color: #6070ff;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0 20% 0;
  padding: 15% 0 0 0;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: #6070ff;
  margin-bottom: 4px;
}

.bars {
  margin-right: 5%;
}

.logo:first-child {
  font-weight: 700;
  margin-right: auto;
}

.mainintro {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #344563;
  width: 80%;
}

.paraintro {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.outro {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
}

.outropara {
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footericons {
  display: flex;
  gap: 5%;
  list-style: none;
  padding: 0 0 30% 0;
  align-items: center;
}

.me {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  width: 60%;
}

.abtme {
  background-color: #fff;
  width: 100%;
  margin-top: 90%;
  border-top-right-radius: 75px;
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  justify-content: center;
}

.details {
  width: 90%;
}

.footericons2 {
  display: flex;
  gap: 5%;
  list-style: none;
  padding: 0 0 5% 0;
  align-items: center;
}

.project1 {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
}

.img1 {
  margin-top: 10%;
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

.project2 {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
}

.project3 {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
}

.project4 {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
}

#projects {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-row-end: 4;
  row-gap: 5%;
  width: 90%;
  margin: 20% auto;
}

.projectinfo {
  margin: auto;
  width: 90%;
}

.profile {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2%;
  align-items: center;
}
.skills {
  display: flex;
  gap: 5%;
  list-style: none;
  padding-left: 0;
}

.skillitem {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 5px;
  padding: 1%;
}

.skillitem {
  float: left;
  margin-left: 2%;
}

.projectbutton {
  color: #6070ff;
  padding: 4%;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 5px;
  margin-bottom: 8%;
}

.lanitem {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  background-color: #f7f7f9;
  margin-bottom: 5%;
  margin-right: auto;
}

.language {
  margin-bottom: 4%;
  gap: 10%;
  align-items: center;
  border-radius: 5px;
  list-style: none;
  padding-left: 0;
}

.lans {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.itemskill {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.item {
  margin-right: auto;
}

.item1 {
  font-size: 20px;
  margin-right: auto;
  margin-bottom: 5%;
}

#resumebutton {
  padding: 3%;
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 12px;
  margin-bottom: 3%;
}
